@font-face {
  font-family: 'Acrom-Light';
  src: local('Acrom-Light'), url('../fonts/Acrom-Light.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Acrom-Regular';
  src: local('Acrom-Regular'), url('../fonts/Acrom-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Acrom-Medium';
  src: local('Acrom-Medium'), url('../fonts/Acrom-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Acrom-Bold';
  src: local('Acrom-Bold'), url('../fonts/Acrom-Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Acrom-ExtraBold';
  src: local('Acrom-ExtraBold'), url('../fonts/Acrom-ExtraBold.woff2');
  font-display: swap;
}
